.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 0 auto;
  padding-top: 10rem;
  color:white;

  .item {
    border: 1px solid #d8cfaf;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    color: white;
  }
}
